<article class="text-and-image{% if element.showLargeImage %} text-and-image--image-left{% endif %}">
  <h1 class="text-and-image__title">{{ element.title }}</h1>
  <div class="text-and-image__text">{{ element.text | safe }}</div>
  {% if element.showLargeImage and element.image %}
    <img class="text-and-image__image" srcset="
            {{ element.image._url }}?width=320&height=240&mode=crop 320w,
            {{ element.image._url }}?width=480&height=360&mode=crop 480w,
            {{ element.image._url }}?width=1024px&height=768&mode=crop 1024w"
         sizes="(max-width: 320px) 320px,
                (max-width: 480px) 480px
                (max-width: 1024px) 1024px"
         src="{{ element.image._url }}?width750&height=515&mode=crop"
         loading="lazy"
         alt="">
  {% elif element.image %}
    <img class="text-and-image__image" srcset="
            {{ element.image._url }}?width=320&height=240&mode=crop 320w,
            {{ element.image._url }}?width=480&height=360&mode=crop 480w,
            {{ element.image._url }}?width=1024px&height=768&mode=crop 1024w"
         sizes="(max-width: 320px) 320px,
                (max-width: 480px) 480px
                (max-width: 1024px) 1024px"
         src="{{ element.image._url }}?width=320&height=240&mode=crop"
         loading="lazy"
         alt="">
  {% endif %}
</article>

